*, button {
    cursor: url("Cursor.png"), auto;
}

body {
    background-color: #000000;
}

h1, h2, h3, h4, h5, h6, p, div, span, pre {
    color: white;
    font-family: 'Comic Sans MS';
}

.image-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.image-button img {
    vertical-align: middle; 
}

.image-button .hover-img {
    display: none;
}

.image-button:hover .default-img {
    display: none;
}

.image-button:hover .hover-img {
    display: inline-block; 
}