*, button {
    cursor: url("../Cursor.png"), auto;
}

:root {
    --bg-color: #ffffff;
    --text-color: #000000;
}

[data-theme="dark"] {
    --bg-color: #000000;
    --text-color: #ffffff;
}

body {
    background-color: var(--bg-color);
    transition: background-color 0.3s ease, color 0.3s ease;
}

#style-info {
    font-family: 'Comic Sans MS';
    text-align: center;
    white-space: nowrap;

    color: var(--text-color);
    transition: color 0.3s ease, color 0.3s ease;

    position: fixed;
    top: 70%;
    left: 45%;
    transform: translateX(-50%);
}

#theme-toggle {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

#credits-button {
    position: fixed;
    bottom: 120px;
    right: 20px;
}

.image-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.image-button .hover-img, .style-door .hover-img {
    display: none;
}
.image-button:hover .default-img, .style-door:hover .default-img {
    display: none;
}
.image-button:hover .hover-img,  .style-door:hover .hover-img {
    display: block;
}

#null-style {
    background: none;
    border: none;
    position: fixed;
    padding: 0;
    bottom: 0;
    left: 0;
    transition: filter 0.1s;
}

#null-style:hover {
    filter: url(#glitch-filter) hue-rotate(90deg) contrast(1.2);
    cursor: pointer;
}

.door-container {
    display: flex;
    justify-content: space-around; 
    align-items: center;
    position: fixed;
    top: 5%;
    width: 100%;
    padding: 0 10%; 
    box-sizing: border-box;
}

.style-door {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    position: relative;
}
.style-door:hover .door-text {
    display: none;
}
.door-text {
    text-align: center;
    position: absolute;
    top: 30%;
    left: 13%;

    color: var(--text-color);
    transition: color 0.3s ease, color 0.3s ease;
    
    font-family: 'Comic Sans MS';
    font-weight: bold;
    pointer-events: none;
}

#classic-style-door, #party-style-door, #demo-style-door {
    position: relative;
}

