:root {
    --bg-color: #000000;
    --text-color: #ffffff;
}

#style-info {
    font-family: 'Comic Sans MS';
    text-align: center;
    white-space: nowrap;

    position: fixed;
    top: 70%;
    left: 45%;
    transform: translateX(-50%);
}

#theme-toggle {
    position: fixed;
    bottom: 20px;
    right: 20px;
}


#null-style {
    background: none;
    border: none;
    position: fixed;
    padding: 0;
    bottom: 0;
    left: 0;
    transition: filter 0.1s;
}

#null-style:hover {
    filter: url(#glitch-filter) hue-rotate(90deg) contrast(1.2);
    cursor: pointer;
}

.bottom-buttons-container {
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: flex-end;
    align-items: flex-end;
}

.door-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 5%;
    width: 100%;
    padding: 0 10%;
    box-sizing: border-box;
}

.style-door {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    position: relative;
}
.style-door:hover .door-text {
    display: none;
}
.door-text {
    text-align: center;
    position: absolute;
    top: 30%;
    left: 13%;

    
    font-family: 'Comic Sans MS';
    font-weight: bold;
    pointer-events: none;
}

#classic-style-door, #party-style-door, #demo-style-door {
    position: relative;
}

